@import 'variables';


.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background-color:$summaryBg;
    border-radius: $bRadius;
    padding: 1rem;

    ul{
        li{
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2rem;
            .img-container{
                width: 40%;
                margin-right: 1.5rem;
                .image{
                    width: 100%;
                    height: 100%;
                    min-width: 120px;
                    
                border-radius: $bRadius;
                }
            }
            .p-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:first-child{
                    font-family: montserra;
                    font-size: 1.4rem;
                    font-weight: 400;
                }
               .new-price, .currency{
                font-size: 1.2rem;
                font-weight: 700;
                color: $orangeColor;
               }
               .old-price{
                color: #333;
                display: inline-block;
                text-decoration: line-through;
                padding-left: .5rem;
                transform: rotate(5deg);
               }

               .buttons-container{
                max-width:120px ;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border: 1px solid #333;
                border-radius: 5px;
                button{
                    background-color: lightgrey;
                    padding: .3rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                    border-radius: 5px;
                    border: none;
                    margin: .2rem;

                    &:hover{
                        outline: 1px solid gray;
                        color: #fff;
                        cursor: pointer;
                    }

                }
               }
            }
        }
    }
    .checkout{
        margin-top: 2rem;

        li{
            display: flex;
            justify-content: space-between;
            border-top: 2px solid lightgrey;

            .free{
                font-size: 11px;
            }
        }
        .delete{
            background-color: red !important;
            text-decoration-line: line-through !important;
        }
    }
}


