@import 'variables';
@import 'form' ;
@import 'summary';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mont;
    src: url(../public/fonts/Montserrat-Regular.ttf);
}

body{
    font-family: mont;
}


.container{
    width: 80%;
    margin: 4rem auto;
    text-align: center;

    h1{
        display: inline-block;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .wrapper{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:880px) {
    .container{
        width: 100%;
        margin: 4rem auto;
    
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}